/*------------------------------
21. download css
------------------------------*/

@use "../utils" as *;


.download-content {
    position: relative;
    z-index: 3;

    @media #{$sm} {
        margin-bottom: 60px;
    }

    p {
        color: var(--clr-text-8);
    }
}

.download-title {
    margin-bottom: 15px;

    .main-title {
        color: var(--clr-common-white);
    }
}

.download__bg {
    background: var(--clr-bg-5);
    top: 0px;
    left: 0;
    z-index: 2;
    padding: 60px;

    @media #{$md} {
        padding: 45px;
    }

    @media #{$xs} {
        padding: 28px;
    }

    @media #{$xxs} {
        padding-bottom: 60px;
    }
}

.download-wrapper {
    .download__bg-img {
        position: absolute;
        top: 0;
        left: 0;
        mix-blend-mode: luminosity;
        opacity: 0.87;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }

    }
}

.download-img {
    display: flex;
    justify-content: flex-end;
    position: relative;

    @media #{$md} {
        img {
            width: 100%;
        }
    }

    @media #{$sm} {
        justify-content: center;
    }

    @media #{$xs} {
        justify-content: flex-start;
        margin-top: 60px;

        @include rtl {
            justify-content: flex-start;
        }
    }

    @media #{$xxs} {
        margin-top: 60px;
        justify-content: left;

        img {
            width: 100%;
        }

        @include rtl {
            justify-content: right;
        }
    }

    span {
        font-weight: var(--bd-fw-medium);
        color: var(--clr-common-white);
        transform: rotate(-90deg);
        position: absolute;
        bottom: 41px;
        inset-inline-start: -10px;

        @media #{$xs} {
            inset-inline-start: 170px;
        }

        @media #{$sm} {
            inset-inline-start: 10px;
        }

        @media #{$md} {
            transform: rotate(0deg);
            bottom: -33px;
            inset-inline-start: 35px;
        }

        @media #{$lg} {
            inset-inline-start: -30px;
        }

        @media #{$xl} {
            inset-inline-start: -55px;
        }

        @media #{$xxs} {
            transform: rotate(0deg);
            bottom: -33px;
            inset-inline-start: 0px;
        }
    }
}

.download-btn {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px 20px;

    .unfill-btn {
        @media #{$xxs} {
            margin-inline-start: 0px;
        }
    }
}

// Download area end