$colors: (
    common: (
        "white": #ffffff,
        "black": #000,
        "placeholder": #8E8E8E,
        "heading": #333333,
        "body-text": #333333,
    ),
    theme: (
        "1": #d4212f,
    ),
    text: (
        "1": #222222,
        "2": #333333,
        "3": #fe5c53,
        "4": #d4212f,
        "5": #4D4D4D,
        "6": #EBEBEB,
        "7": #8B8B8B,
        "8": #F5F5F5,
        "9": #141414,
        "10": #C3C3C3,
        "11": #919191,
        "12": #15141C,
        "13": #3F3F3F,
        "14": #FAFAFA,
        "15": #E6E6E6,
        "16": #434248,
        "17": #5D636A,
    ),
    bg: (
        "1": #FCF4F4,
        "2": #fff,
        "3": #F0F0F0,
        "4": #fe5c53,
        "5": #D4212F,
        "6": #222222,
        "7": #919191,
        "8": #F7F7F7,
        "9": #141414,
        "10":#F5F5F5,
        "11":#CDCDCD,
        "12": #FAFAFA,
        "13": #15141C,
        "14":#C3C3C3,
        "15":#323232,
        "16":#3D6AD6,
        "17":#0073B1,
        "18":#1DA1F3,
        "19":#4CAF50,
        "20":#450B0F,
    ),
    border: (
        "1": #f0f0f0,
    ),
    stroke: (
        "1":#E8E8E8,
    ),
    gradient: (
        "1": linear-gradient(180deg, #C51F2C 0%, #FE5C53 100%),
        "2":  linear-gradient(180deg, rgba(197, 31, 44, 0) 0%, rgba(197, 31, 44, .2) 100%),
        "3": linear-gradient(136.1deg, rgba(197, 31, 44, 0.2) 14.63%, rgba(254, 92, 83, 0) 84.07%),
        "4": linear-gradient(240.59deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 104.33%),
        "5": linear-gradient(90deg, #C51F2C 0%, #FE5C53 100%),
    ),
);
